.storybook-button {
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storybook-button--primary {
  color: white;
  background-color: #000000;
}

.storybook-button--white {
  color: #333;
  border: 1px solid #333;
  background-color: #ffffff;
}

.storybook-button--danger {
  color: #fff;
  background-color: red;
}

.storybook-button--outline-primary {
  color: #000000;
  border: 1px solid #000000;
  background-color: transparent !important;
}

.storybook-button--outline-gray {
  color: #626473;
  border: 1px solid #e5e7eb;
  background-color: transparent !important;
  // &:hover {
  //   background-color: #f4f4f5 !important;
  //   // background-color: #e9e9eb !important;
  // }
}

.storybook-button--outline-danger {
  color: #d83b3e;
  border: 1px solid #d83b3e;
  background-color: transparent !important;
}

.storybook-button--small {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  line-height: 18px;
  padding: 11px 24px;
}

.storybook-button--large {
  font-size: 16px;
  line-height: 20px;
  padding: 14px 28px;
}
